.config {
    display: flex;
    justify-content: center;
}

.config-box {
    padding: 10px;
    margin: 5px;
    border: 1px solid #596275;
    border-radius: 3px;
}

.config-label {
    margin: 0.5em 0;
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    box-sizing: border-box;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 0;
}

.btn.tool {
    color: var(--text-color);
    border-color: var(--header-color);
}

.btn.select {
    color: var(--text-color);
    border-color: grey;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group > .btn:not(:first-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn:not(:disabled) {
    cursor: pointer;
}

.btn:hover, .btn.active {
    color: #fff;
    background-color: var(--header-color);
    border-color: var(--header-color);
}